* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}
#game {
    font-size: 20px;
    padding: 10px;
    background-color: lightblue;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}
#board {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#space {
    display: flex;
    justify-content: center; 
    margin: 10px 0; 
}
.tile {
    font-size: 30px;
    border-radius: 15%;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: none; 
    margin: 0 10px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}
.tile:hover {
    background-color: deepskyblue;
}
.tile:active {
    background-color: dodgerblue; 
}
